body{color:#706969;}
body.body-bg-white{background-color:#f2f2f2;}
.over-white{overflow:hidden;background-color:#fff;}
.flex-column{flex-direction:column}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}

#headshot{
 border: 1px solid #b8c1b7;
}
.aui-text-warning{color:#ff7600; font-size:0.8rem;}

/*导航栏*/
.aui-bar-gray {
	color: #666666;
	background-color: #f0f0f0;
	border-bottom: 1px solid #d3d3d3;
}
.aui-bar-nav.aui-bar-gray .aui-iconfont{color: #666666;}

.aui-bar-green {
	color: #fff;
	background-color: #00c558;
	border-bottom: 1px solid #00c558;
}
.aui-bar-nav.aui-bar-green .aui-iconfont{color: #fff;}

/* btn*/
.aui-btn-green {
	color: #ffffff;
	background-color: #47b84c;
}
.aui-btn-green-gray,
.aui-collapse-header.aui-active.aui-btn-green-gray  {
	color: #20c714;
	background-color: #ebfbea;
}
.aui-active.aui-btn-green-gray .aui-collapse-arrow{display:inline-block;}
.aui-btn-green.aui-active, .aui-btn-green:active {
	color: #fff;
	background-color: #00897b;
}

.aui-btn-warning {
	color: #ffffff !important;
	background-color: #ff7a00 !important;
}
.aui-btn-warning.aui-active, .aui-btn-warning:active {
	color: #ffffff !important;
	background-color: #ffb300 !important;
}
.aui-btn-green.aui-btn-outlined {
	color: #47b84c !important;
	border: 1px solid #47b84c !important;
}
.square-plus{
	border:solid 1px #47b84c;
	display:block;
	padding:0 2px;
	width:20px;
	height:20px;
	text-align:center;
}
.aui-list .aui-list-item .square-plus i.aui-iconfont{position:relative;top:-3px;font-size:0.55rem;color:#47b84c;}
.fixed-width-btn .aui-btn{min-width:120px; height: 2rem; line-height: 2rem;}

.aui-btns-group{
	padding:0 0.4rem;
}
.aui-btn .aui-icon-left{font-weight:700;font-size:0.7rem}


/*采收工单列表*/


/*列表
 *
 * aui-list  列表扩展*/

.aui-list.aui-list-options{background-color:transparent}
.aui-list-options-label{
	position:absolute;
	left:12px;
	top:50%;
	margin-top:-10px;
}
.footer-options-label .aui-list-options-label{text-align:left;font-size:0.8rem;min-width:80px;}
.footer-options-label .aui-list-options-label > input{margin-right:5px;}
.aui-list .aui-list-block .aui-list-item-title,
.aui-list .aui-list-block .aui-list-item-right{
	color:#999999;
}
.aui-list .aui-list-block .aui-list-item-right{
	font-size: 0.8rem;
}
.aui-list-block{
	margin:20px 20px 20px 50px;
	box-shadow:0 0 16px 0 rgba(204,227,207,.7);
}
.aui-list-nooptions .aui-list-block{margin:0 0.75rem 0.75rem;}

/*iconfont*/
.aui-round-icon{
	width:16px;
	height:16px;
	margin-left:0.3rem;
	background-color:transparent;
	border:solid 1px #6d8792;
	border-radius:16px;
    display: inherit;
    align-self:center;
}
.aui-round-icon .aui-iconfont{
	margin-top:0.07rem;
	margin-left:0.12rem;
	font-size:0.5rem;
	font-weight:bold;
}
.round-icon-del,.round-icon-del2{
	position:absolute;
	width:15px;
	height:15px;
}
.round-icon-del{
	background:url("../../res/image/icon/del-icon.png") no-repeat center;
	right:5px;
	top:5px;
}
.round-icon-del2{
	background:url("../../res/image/icon/del-icon2.png") no-repeat center;
	right:-4px;
	top:-4px;
}
.bright-tips-icon,
.btn-font-icon{
	display:inline-block;
	width:18px;
	height:18px;
	vertical-align: middle;
}
.bright-tips-icon{
	background:url("../../res/image/icon/bright.png") no-repeat center;
	background-size:100% 100%;
}
.notes-icon{
	width:16px;
	height:16px;
	margin-right:4px;
	background:url("../../res/image/icon/note-icon.png") no-repeat center;
	background-size:auto 100%;
}
.aui-icon-bold,
.aui-icon-down.aui-collapse-arrow{font-weight:700;}
.round-icon-wrap{
	display:inline-block;
	width:5.0rem;
	height:1.4rem;
	color:#20c714;
	border-radius:9px;
	line-height:1.5rem;
	text-align:center;
	margin-bottom:5px;
    background-image: url("../../res/image/icon/shanchu.png");
    background-size:18px 18px;
    background-repeat: no-repeat;
    background-position:15px 4px;
}
.round-icon-wrap{
   font-size:0.5rem; 
   font-weight:700;
   }
/*单选、多选、开关*/
.aui-radio,
.aui-checkbox {
	border: solid 1px #d1d0d0;
}
.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked{
	background-color: #47b84c;
    border: solid 1px #47b84c;
}
.aui-radio-sm:checked, 
.aui-radio-sm.aui-checked, 
.aui-checkbox-sm:checked, 
.aui-checkbox-sm.aui-checked{
	background-color: #ff7600;
    border: solid 1px #ff7600;
}

.aui-radio-sm,
.aui-checkbox-sm{
	width: 0.8rem;
    height: 0.8rem;
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    font-size: 0.6rem;
    vertical-align: middle;
}
.aui-radio-sm:checked:before, 
.aui-radio-sm.aui-checked:before, 
.aui-checkbox-sm:checked:before, 
.aui-checkbox-sm.aui-checked:before,
.aui-radio-sm:checked:after, 
.aui-radio-sm.aui-checked:after, 
.aui-checkbox-sm:checked:after, 
.aui-checkbox-sm.aui-checked:after{
    width: 0.3rem;
    height: 0.2rem;
    margin-left: -0.15rem;
    margin-top: -0.15rem;
}



/*图标字体*/
.aui-card-list-footer .aui-iconfont-sm{font-size:0.7rem;}

/*表单*/
.date-box,
.select-add-arrow{position:relative;}
.add-arrow-layer{
	position: absolute;
	right:-0.75rem;
	top:0.45rem;
	display: inline-block;
}
.aui-list .aui-list-item .add-arrow-layer i.aui-iconfont{
	color:#aaaca9;
	font-size:0.6rem;
	font-weight:700;
}
.aui-list-item-input select,
.aui-list .aui-list-item-label{color:#706969;}
.aui-list-item-input > input{padding-left:4px;}

.aui-list .aui-list-item-label.width-auto{width:auto;padding-right:10px;}
.aui-list .aui-list-item-label.width-auto2{width:95px;}
.input-padded-8{padding-right:8px !important;}
.aui-list .aui-list-item-wrap .aui-list-item-input-sm select{
	height:1.4rem;
}
.aui-list .aui-list-item-wrap .aui-list-item-input-sm .add-arrow-layer{right:0.75rem;top: 0.24rem;}



input[type="text"].aui-input-sm,
input[type="number"].aui-input-sm,
input[type="text"].aui-input-sm,
.aui-input-sm{
	height:1.8rem;
	font-size:0.7rem;
}

/*图片icon*/
.date-box .position{position:absolute;right:5px; top:0.6rem;}
.img-icon{
	display:block;
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	background-clip: content-box;
}
.img-icon-time{background-image:url("../../res/image/icon/data-time-icon.png")}
.img-icon-work{background-image:url("../../res/image/icon/header-icon.png")}
.img-icon-materials{background-image:url("../../res/image/icon/materials-icon.png")}
.img-icon-summary{background-image:url("../../res/image/icon/summary-icon.png")}


.aui-list-item.aui-card-header{
	border-top:solid 1px #d9dad9;
	border-bottom:solid 1px #d9dad9;
	margin-top:1rem;
}
.aui-list .aui-card-header .aui-list-item-label-icon{min-width: 1rem;padding-right:0.45rem;}
.aui-list .aui-card-header .aui-list-item-title{color:#7b7777;}

.fw700{font-weight:700;}

.footer-btns-center{
	justify-content:center;
}

.aui-card-header.card-border-t{border-top:solid 10px #f5f6f5;}
.aui-bt-10{border-top:solid 7px #f8f8f8;}

.aui-list .aui-list-item-media.media-sm-ico {width:2rem}

.footer-btns-groups{
	padding:15px;
}

.aui-list .aui-list-item-title{color:#999}
.aui-info-item-title{
	color:#6d8792;
	font-size:1.07rem;
	align-self:flex-start;
}
.aui-info-item-info{
	color:#fed51e;
	align-self:flex-start;
}
.aui-slide-header{
	position:relative;
	width:90%;
	height:30px;
	margin:0 auto;
	text-align:center;
	border-bottom:dotted 1px #369dff;
}
.aui-slide-title{
	position:relative;
	bottom: -12px;
	display:inline-block;
	background-color:#fff;
	padding:2px 30px;
	color:#369dff;
	z-index:2;
}
.aui-slide-title:before,
.aui-slide-title:after{
	position:absolute;
	top:50%;
	display:inline-block;
	content:'';
	width:6px;
	height:6px;
	margin-top:-3px;
	border-radius:50%;
	background-color:#369dff;
}
.aui-slide-title:before{
	left:0;
}
.aui-slide-title:after{
	right:0;
}

.aui-bar-img{
	display:inline-block;
	position: relative;
    z-index: 20;
    top: 0.3rem;
	width:1.2rem;
	height:1.2rem;
	background-repeat: no-repeat;
	background-position:center;
	background-size:100% auto;
	background-clip:content-box;
}
.aui-bar-img-home{
	background-image:url("../../res/image/icon/ic_menu_deal_off.png");
}
.aui-bar-img-plant{
	background-image:url("../../res/image/icon/ic_menu_plant_off.png");
}
.aui-bar-img-apollo{
	background-image:url("../../res/image/icon/ic_menu_apollo_off.png");
}
.aui-bar-img-poi{
	background-image:url("../../res/image/icon/ic_menu_poi_off.png");
}
.aui-bar-img-user{
	background-image:url("../../res/image/icon/ic_menu_user_off.png");
}
.aui-bar-tab .aui-active {
	color: #00c558;
}
.aui-bar-tab .aui-active .aui-bar-img-home{
	background-image:url("../../res/image/icon/ic_menu_deal_on.png");
}
.aui-bar-tab .aui-active .aui-bar-img-plant{
	background-image:url("../../res/image/icon/ic_menu_plant_on.png");
}
.aui-bar-tab .aui-active .aui-bar-img-apollo{
	background-image:url("../../res/image/icon/ic_menu_apollo_on.png");
}
.aui-bar-tab .aui-active .aui-bar-img-poi{
	background-image:url("../../res/image/icon/ic_menu_poi_on.png");
}
.aui-bar-tab .aui-active .aui-bar-img-user{
	background-image:url("../../res/image/icon/ic_menu_user_on.png");
}


.aui-list .aui-list-item-input.aui-list-imgs{padding-top:8px;padding-right:0rem;}
.aui-list-imgs .aui-row-padded .aui-col-xs-4{
	width:70px;
	height:70px;
}
.aui-list-imgs .aui-row-padded .aui-col-xs-4{margin:2px;}
.aui-list-imgs .aui-row-padded .aui-col-xs-4 img{
	display:block;
	width:70px;
	height:70px;
}

.top-slogan {
	max-width:720px;
}
.top-slogan img{
	display:block;
	width:100%;
	height:auto;
}
.aui-content-radius{
	border-radius:0.4rem;
}

/*折叠菜单*/
.aui-collapse-header.aui-active {
    background: #fff;
}
.aui-collapse-header.aui-active .aui-active-close,
.aui-collapse-header .aui-active-open{display:inline-block;}
.aui-collapse-header.aui-active .aui-active-open,
.aui-collapse-header .aui-active-close{display:none;}
.item-title-inner{
	display:inline-block;
	color:#fff;
	background-color:#20c714;
	border-radius:0 6rem 6rem 0;
	padding:0.05rem 0.5rem 0.05rem 0.4rem;
}
.open-btn{
	display:inline-block;
	color:#20c714;
	background-color:#ebfbea;
	border-radius:6rem;
	font-size:0.8rem;
	padding:0 0.3rem;
}
.aui-collapse-header .open-btn .aui-collapse-arrow{
	font-weight:700;
}
.aui-list .aui-list-item-wrap{
	color:#706969;
}
.aui-list .aui-list-item-wrap select,
input[type="text"].aui-control-input,
select.aui-control-select{
	border:solid 1px #b8c1b7;
	height:1.8rem;
}
.aui-list .aui-list-item-wrap .aui-list-item-input,
.aui-list .aui-list-item-wrap .aui-list-item-inner{padding-right:0;}
.aui-list .aui-list-item-wrap .add-arrow-layer{right:0.75rem;top: 0.34rem;}
.aui-collapse-header.aui-active .open-btn .aui-collapse-arrow{
	display:inline-block;
}
.aui-list .aui-list-item-wrap > li + li{margin-top:0.3rem}
.aui-list-content-ctp{
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}






.aui-list .aui-list-item-media{padding-right:0; margin-right:0.2rem}
.aui-list .aui-list-item-text{color:#706969}
.aui-list .aui-list-item-text .aui-list-item-inner{min-height:1.8rem;height: 1.9rem;border-bottom: solid 1px #f2f2f2;}

@media screen and (max-width:400px){
	.aui-list .aui-list-item-input-sm{width:60%}
}
.bright-tips-info{
	display:inline-block;
	font-size:0.5rem;
	color:#20c714;
	padding:0.1rem;
	margin-left:0.5rem;
	background-color:#ebfbea;
	vertical-align: middle;
}
.aui-infos-item,
.aui-infos-item-form{
	border:solid 1px #b1f4ab;
	margin-top:0.75rem;
	padding:0.4rem 0;
}
.aui-infos-item-form{padding:0;}
.aui-infos-item .aui-list-item-inner{min-height:1.4rem;}
.aui-infos-item .aui-list-item-label{width:80%;padding-left:0.75rem;line-height:1.4rem;}

.aui-infos-item-form{
	display:table;
	width:100%;
}
.aui-infos-item-form-left,
.aui-infos-item-form-right{
/* 	display:table-cell; */
}
.aui-infos-item-form-right{vertical-align:middle;/* border-left:solid 1px #b1f4ab; */}
.aui-infos-item-form-left{
/* 	border-right:solid 1px #b1f4ab; */
}
.aui-content-padded.aui-content-margin5{
	margin:0.5rem;
}
.aui-infos-item-form-left .aui-list-item-label{width:45%;}
.aui-infos-item-form-left .aui-list-item-input,
.aui-infos-item-form-left .aui-list-item-inner{padding-right:0.2rem}
.aui-infos-item-form-left .aui-list-item-input .add-arrow-layer{right:0.25rem;top: 0.35rem;}

.aui-btn-sm-green-gray{
	border-color:#20c714;
	color:#20c714;
	border-radius:100px;
	padding:0 0.2rem;
}

#delPic{
	position: absolute;
	left:71px;
	top:1px;
	width:16px;
	height:16px;
	line-height:14px;
	text-align:center;
	background-color:#ef8233;
	z-index:9;
	border-radius:50%;
}
#delPic .aui-iconfont{color:#fff;
	font-size:10px;
	font-weight:700;

}


.list-item{
	padding:10px 10px 10px 0;
	border-bottom:solid 1px #d5d5d5
}
.list-item-icon{
	display:block;
	width:16px;
	height:16px;
	background:url("../../image/harvest_grade_standard_listIcon.png") no-repeat;
	background-size:100% 100%;
	float:left;
	margin-left:15px;
	margin-top:5px;
}
.list-item-infos{
	margin-left:40px;
}
.list-item-infos h3{
	color:#595756;
}
.list-item-infos p{
	color:#7c8277;
	padding-top:5px;
}
.level-pic{
	width:5rem;
	height:5rem;
	margin:0 auto;
}
.level-pic img{
	display:block;
	max-width:100%;
	max-height:100%;
}
.delt-icon ,.delt-icon .aui-iconfont {
	color:#ff7600;
}
.delt-icon{padding:0 0 0 5px;}
.aui-label-hide{display:none !important}
@media screen and (max-width:320px){
.delt-icon ,.delt-icon .aui-iconfont {
	font-size:0.55rem !important;
}
	.sm-flex-wrap{
		flex-wrap:wrap;
		height:auto !important;
		border-bottom:none !important;
	}
	.aui-label-hide{display:flex  !important;}
	.sm-flex-wrap > .aui-list-item-label{width:36% !important;
		    border-bottom: solid 1px #f2f2f2;
		    line-height: 1.3rem !important;
		    height: 1.3rem;
	}
	.sm-flex-wrap > .aui-list-item-input{width:64% !important;
		    border-bottom: solid 1px #f2f2f2;
		    line-height: 1.3rem !important;
		    height: 1.3rem;
	}
	.sm-flex-wrap input[type="text"].aui-input-sm,
	.sm-flex-wrap input[type="number"].aui-input-sm,
	.sm-flex-wrap input[type="text"].aui-input-sm,
	.sm-flex-wrap .aui-input-sm{height:1.3rem !important}
	.aui-list-item-input.input-padded-8.input-hack320{width:52.3% !important}
	.aui-list-item-input.input-padded-8.input-hack320-w1{width:19% !important}
}